@import "../../index.scss";

#tour {
    width: 100%;
    height: 1000px;
    background-color: #383636;
    text-align: center;
    color: #d3d3d3;
    padding-top: 120px;

    h1 {
        font-size: 44px;
        color: #fff;
        margin-bottom: 50px;
    }
}