@import "../../index.scss";

.navbar-light .navbar-nav .nav-link {
    color: $red;
    font-size: 22px;  
}
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(214, 83, 83);
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active {
    color: rgb(158, 18, 18);
}
.bg-dark {
    background-color: #000000!important; 
}
#basic-navbar-nav {
    width: 400px !important;    
}
.navbar-light .navbar-toggler {
    background-color:  rgb(172, 18, 18); 
    border-color: $red;
    padding: .25rem .65rem;
}
button.navbar-toggler:focus {
    outline: none;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(158, 18, 18);
}